.search-input .v-text-field__slot input {
  color: black !important;
}

.list {
  background: rgba(255, 255, 255, 0) !important;
}

.item__title--white {
  color: white;
}

.item__subtitle--grey {
  color: #b3b3b3 !important;
}
