.v-label {
  color: #2e2e2e !important;
}

.v-card__title {
  color: white !important;
}

.code-input .v-text-field__slot input {
  color: #2e2e2e !important;
}

.input-margin {
  margin: 10px !important;
}

.or-color {
  color: white;
  margin: 20px;
}

.code-input .v-input__slot {
  background-color: white !important;
}
