.v-label {
  color: white !important;
}

.code-input .v-text-field__slot input {
  color: white !important;
}

.input-margin {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.or-color {
  color: white;
}
