@import "~@sweetalert2/theme-dark/dark.scss";

main {
  background: linear-gradient(180deg, #3f3f3f 0%, #2f2f2f 35%, #181818 100%);
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.25s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

.v-item-group.v-bottom-navigation .v-btn.v-btn--active {
  color: #1db954 !important;
}

.swal2-confirm {
  color: black !important;
}

.swal2-cancel {
  color: black !important;
}
